@page "/session/{SessionId}"
@using D_DNoteTaker.Components.Layout.Create

@rendermode InteractiveServer

@inject NavigationManager nav;
@inject IMongoRepository<Sessions> SessionDB;
@attribute [StreamRendering]

@if (session == null)
{
	<p>Loading...</p>
}
else
{
	<h1>Session @session.SessionNum</h1>
	<h4>Summary</h4>

	@if (session.Summary.Text != null)
	{
		<p>@session.Summary.Text</p>
	} else
	{
		<p>No session summary</p>
	}

	<hr/>
	<h4>Date</h4>
	<p>@session.DateOfSession.ToString()</p>
	<hr/>
	@if(session.Locations != null)
	{
		<h4>Locations Visited</h4>
		@foreach (Location location in session.Locations)
		{
			<button @onclick="() => ToLocation(location.Id)">@location.Name</button>
			<div></div>
		}
	}

	<hr/>
	@if (session.NPCs != null)
	{
		<h4>NPCs encountered</h4>
		@foreach (NPCs npc in session.NPCs)
		{
			<button @onclick="() => ToNPC(npc.Id)">@npc.Name</button>
			<div></div>
		}
	}
}

@code {
	[Parameter]
	public string SessionId { get; set; } = "";

	private Sessions session;

	protected override async Task OnInitializedAsync()
	{
		session = await SessionDB.GetByIdAsync(SessionId);
	}

	public void ToLocation(string id)
	{
		nav.NavigateTo($"/location/{id}", true, true);
	}

	public void ToNPC(string id)
	{
		nav.NavigateTo($"/npc/{id}", true, true);
	}
}
