@page "/worldbuilding/{WorldbuildingId}/{CampaignId}"
@using D_DNoteTaker.Components.Models
@inject IMongoRepository<Worldbuilding> WorldbuildDB;
@attribute [StreamRendering]

<PageTitle>Campaign Worldbuilding</PageTitle>

<h1>Worldbuilding</h1>

<div class="tab-bar">
    @if (worldbuilding?.Regions != null)
    {
        
    }
</div>

@if (worldbuilding == null)
{
    <p>No worldbuilding found.</p>
}
else
{
    <div class="mt-3">
        <h2>@worldbuilding.Name</h2>

        <h3>History</h3>
        <p>@(worldbuilding.History?.Text ?? "No history available.")</p>

        <div>
            <NavLink href="@($"/newregion/{WorldbuildingId}/{CampaignId}")">
                <h3>Add New Region</h3>
            </NavLink>
        </div>

        <h3>Regions</h3>
        @if (worldbuilding.Regions is not null && worldbuilding.Regions.Any())
        {
            <ul>
                @foreach (var region in worldbuilding.Regions)
                {
                    <li>
                        <NavLink href="@($"/region/{region.Id}/{CampaignId}")">
                            <p>@region.Name</p>
                        </NavLink>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No regions found.</p>
        }
    </div>
}

@code {
    [Parameter]
    public string WorldbuildingId { get; set; } = "";

    [Parameter]
    public string CampaignId { get; set; }

    private Worldbuilding worldbuilding;

    protected override async Task OnInitializedAsync()
    {
        worldbuilding = await WorldbuildDB.GetByIdAsync(WorldbuildingId);
    }
}