@page "/campagin/{CampaignId}"
@using D_DNoteTaker.Components.Models

@inject IMongoRepository<Campaign> MDBCampaign

<PageTitle>View Campaign</PageTitle>

<h3>Note Page</h3>

<div>
    <textarea @bind="noteContent" @bind:event="oninput" placeholder="Type your notes here..."></textarea>
</div>

<p>Character count: @noteContent.ToCharArray().Length</p>

@if (campaign is null)
{
    <p>Loading campaign...</p>
}
else
{
    <h1>@campaign.Name</h1>

    <hr />

    <div class="tab-bar">
        <NavLink class="tab-button" href="@($"/worldbuilding/{campaign.WorldbuildingId}")">
            <h3>Worldbuilding</h3>
        </NavLink>

        @* <NavLink class="tab-button" href="@($"/campaignview/{CampaignId}/npcs")">
            <h3>NPCs</h3>
        </NavLink> *@
        @if (campaign.SessionIds != null && campaign.SessionIds.Count() != 0)
        {
            <NavLink class="tab-button" href="@($"/session/{campaign.SessionIds[0]}")">
                <h3>Sessions</h3>
            </NavLink>
        }
    </div>

    <div class="mt-3">
    </div>
    @foreach(TextBox box in campaign.Boxes)
    {
        <h4>@box.Name</h4>
        <textarea @bind="box.Text" @bind:event="oninput" placeholder="Type your notes here..."></textarea>
    }
}

@code {
    [Parameter]
    public string CampaignId { get; set; } = string.Empty;

    private Campaign? campaign;
    
    protected override async Task OnInitializedAsync()
    {
        campaign = await MDBCampaign.GetByIdAsync(CampaignId);
    }

    private string noteContent = "";
}