@page "/campagin/{CampaignId}"
@using D_DNoteTaker.Components.Models

@inject IMongoRepository<Campaign> MDBCampaign
@inject IMongoRepository<Sessions> MDBSession
@attribute [StreamRendering]

<PageTitle>View Campaign</PageTitle>

@if (campaign is null)
{
    <p>Loading campaign...</p>
}
else
{
    @if (hasCampaignID)
    {
        <h1>@campaign.Name</h1>

        <hr />

        <div>
            <NavLink href="@($"/newsession/{campaign.Id}")">
                <h5>Create New Session</h5>
            </NavLink>

            <NavLink href="@($"/newnpc/{campaign.Id}")">
                <h5>Create New NPC</h5>
            </NavLink>
        </div>

        <hr/>

        <div class="tab-bar">
            @if (campaign.WorldbuildingId != null)
            {
                <NavLink class="tab-button" href="@($"/worldbuilding/{campaign.WorldbuildingId}/{CampaignId}")">
                    <h3>View Worldbuilding</h3>
                </NavLink>
                <hr/>
            }

            @if (currentSessions != null && sessionsCount != 0)
            {
                <h4><b>Sessions</b></h4>
                @foreach (Sessions session in currentSessions)
                {
                    <NavLink class="tab-button" href="@($"/session/{session.Id}")">
                        <h5>Session @session.SessionNum</h5>
                    </NavLink>
                }
            }
        </div>

        

        @if (campaign.Boxes != null)
        {
            foreach (TextBox textBox in campaign.Boxes)
            {
                <h3>@textBox.Name</h3>
                <p>@textBox.Text</p>
            }
        }

        <div class="mt-3">
        </div>
    } else
    {
        <h1>Can't find campaign with id: @CampaignId</h1>
    }


}

@code {
    [Parameter]
    public string CampaignId { get; set; }

    private Campaign? campaign;
    private List<Sessions> currentSessions;

    int sessionsCount;

    bool hasCampaignID = true;

    protected override async Task OnInitializedAsync()
    {
        if (CampaignId != null)
        {
            campaign = await MDBCampaign.GetByIdAsync(CampaignId);
            List<Sessions> allSessions = await MDBSession.GetAllAsync();
            // sessions = await MDBCampaign.
            currentSessions = allSessions.FindAll(session => session.CampaginId == CampaignId);
            sessionsCount = currentSessions.Count();
            hasCampaignID = true;
        }
        else hasCampaignID = false;
    }
}